USE [TCC]
GO
/****** Object:  Table [dbo].[dCATEGORIA]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dCATEGORIA](
	[idCategoria] [int] IDENTITY(0,1) NOT NULL,
	[Categoria] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dCINTOSEGURANCA]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dCINTOSEGURANCA](
	[idCintoSeguranca] [int] IDENTITY(0,1) NOT NULL,
	[CintoSeguranca] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCintoSeguranca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dCLIMA]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dCLIMA](
	[idClima] [int] IDENTITY(0,1) NOT NULL,
	[Clima] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idClima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dCONDUTOR]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dCONDUTOR](
	[idCondutor] [int] IDENTITY(0,1) NOT NULL,
	[Condutor] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCondutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dEMBRIAGUEZ]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dEMBRIAGUEZ](
	[idEmbriaguez] [int] IDENTITY(0,1) NOT NULL,
	[Embriaguez] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmbriaguez] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dESPECIE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dESPECIE](
	[idEspecie] [int] IDENTITY(0,1) NOT NULL,
	[Especie] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dFATALIDADE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dFATALIDADE](
	[idFatalidade] [int] IDENTITY(0,1) NOT NULL,
	[Fatalidade] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idFatalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dHABILITACAO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dHABILITACAO](
	[idHabilitacao] [int] IDENTITY(0,1) NOT NULL,
	[Habilitacao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHabilitacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dHORAINFORMADA]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dHORAINFORMADA](
	[idHoraInformada] [int] IDENTITY(0,1) NOT NULL,
	[HoraInformada] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoraInformada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dORIGEMBOLETIM]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dORIGEMBOLETIM](
	[idOrigemBoletim] [int] IDENTITY(0,1) NOT NULL,
	[OrigemBoletim] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrigemBoletim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dPASSAGEIRO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dPASSAGEIRO](
	[idPassageiro] [int] IDENTITY(0,1) NOT NULL,
	[Passageiro] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPassageiro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dPAVIMENTO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dPAVIMENTO](
	[idPavimento] [int] IDENTITY(0,1) NOT NULL,
	[Pavimento] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPavimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dPEDESTRE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dPEDESTRE](
	[idPedestre] [int] IDENTITY(0,1) NOT NULL,
	[Pedestre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPedestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dREGIONAL]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dREGIONAL](
	[idRegional] [int] NOT NULL,
	[Regional] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRegional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dSEVERIDADE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dSEVERIDADE](
	[idSeveridade] [int] NOT NULL,
	[Severidade] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSeveridade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dSEXO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dSEXO](
	[idSexo] [int] IDENTITY(0,1) NOT NULL,
	[Sexo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dSINALIZADO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dSINALIZADO](
	[idSinalizado] [int] IDENTITY(0,1) NOT NULL,
	[Sinalizado] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSinalizado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dSITUACAO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dSITUACAO](
	[idSituacao] [int] IDENTITY(0,1) NOT NULL,
	[Situacao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSituacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dSOCORRO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dSOCORRO](
	[idSocorro] [int] IDENTITY(0,1) NOT NULL,
	[TipoSocorro] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSocorro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dTEMPO]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dTEMPO](
	[IDTEMPO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [date] NOT NULL,
	[ANO] [smallint] NOT NULL,
	[MES] [smallint] NOT NULL,
	[DIA] [smallint] NOT NULL,
	[DIA_SEMANA] [smallint] NOT NULL,
	[DIA_ANO] [smallint] NOT NULL,
	[ANO_BISSEXTO] [char](1) NOT NULL,
	[DIA_UTIL] [char](1) NOT NULL,
	[FIM_SEMANA] [char](1) NOT NULL,
	[FERIADO] [char](1) NOT NULL,
	[PRE_FERIADO] [char](1) NOT NULL,
	[POS_FERIADO] [char](1) NOT NULL,
	[NOME_FERIADO] [varchar](30) NULL,
	[NOME_DIA_SEMANA] [varchar](15) NOT NULL,
	[NOME_DIA_SEMANA_ABREV] [char](3) NOT NULL,
	[NOME_MES] [varchar](15) NOT NULL,
	[NOME_MES_ABREV] [char](3) NOT NULL,
	[QUINZENA] [smallint] NOT NULL,
	[BIMESTRE] [smallint] NOT NULL,
	[TRIMESTRE] [smallint] NOT NULL,
	[SEMESTRE] [smallint] NOT NULL,
	[NR_SEMANA_MES] [smallint] NOT NULL,
	[NR_SEMANA_ANO] [smallint] NOT NULL,
	[ESTACAO_ANO] [varchar](15) NOT NULL,
	[DATA_POR_EXTENSO] [varchar](50) NOT NULL,
	[EVENTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTEMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dTIPOACIDENTE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dTIPOACIDENTE](
	[idTipoAcidente] [int] IDENTITY(0,1) NOT NULL,
	[TipoAcidente] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoAcidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dVELOCIDADE]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dVELOCIDADE](
	[idVelocidade] [int] IDENTITY(0,1) NOT NULL,
	[Velocidade] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVelocidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATO1]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATO1](
	[Boletim] [varchar](255) NOT NULL,
	[DataHoraBoletim] [datetime] NOT NULL,
	[DataHoraInclusao] [datetime] NOT NULL,
	[Sequencial] [int] NOT NULL,
	[idCategoria] [int] NULL,
	[idEspecie] [int] NULL,
	[idSituacao] [int] NULL,
	[idSocorro] [int] NULL,
	[idTipoAcidente] [int] NULL,
	[idClima] [int] NULL,
	[idPavimento] [int] NULL,
	[idRegional] [int] NULL,
	[idOrigemBoletim] [int] NULL,
	[idSinalizado] [int] NULL,
	[idVelocidade] [int] NULL,
	[idHoraInformada] [int] NULL,
	[idFatalidade] [int] NULL,
	[idSeveridade] [int] NULL,
	[CoordenadaX] [varchar](255) NULL,
	[Coordenaday] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Boletim] ASC,
	[DataHoraBoletim] ASC,
	[DataHoraInclusao] ASC,
	[Sequencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATO2]    Script Date: 02/04/2021 16:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATO2](
	[Boletim] [varchar](255) NOT NULL,
	[DataHoraBoletim] [datetime] NOT NULL,
	[DataHoraInclusao] [datetime] NOT NULL,
	[Sequencial] [int] NOT NULL,
	[idTipoAcidente] [int] NULL,
	[idClima] [int] NULL,
	[idPavimento] [int] NULL,
	[idRegional] [int] NULL,
	[idOrigemBoletim] [int] NULL,
	[idSinalizado] [int] NULL,
	[idVelocidade] [int] NULL,
	[idHoraInformada] [int] NULL,
	[idFatalidade] [int] NULL,
	[idSeveridade] [int] NULL,
	[idCondutor] [int] NULL,
	[idSexo] [int] NULL,
	[idCintoSeguranca] [int] NULL,
	[idEmbriaguez] [int] NULL,
	[idHabilitacao] [int] NULL,
	[idPedestre] [int] NULL,
	[idPassageiro] [int] NULL,
	[DataNascimento] [date] NULL,
	[CoordenadaX] [varchar](255) NULL,
	[CoordenadaY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Boletim] ASC,
	[DataHoraBoletim] ASC,
	[DataHoraInclusao] ASC,
	[Sequencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[dCATEGORIA] ([idCategoria])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idClima])
REFERENCES [dbo].[dCLIMA] ([idClima])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idEspecie])
REFERENCES [dbo].[dESPECIE] ([idEspecie])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idFatalidade])
REFERENCES [dbo].[dFATALIDADE] ([idFatalidade])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idHoraInformada])
REFERENCES [dbo].[dHORAINFORMADA] ([idHoraInformada])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idOrigemBoletim])
REFERENCES [dbo].[dORIGEMBOLETIM] ([idOrigemBoletim])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idPavimento])
REFERENCES [dbo].[dPAVIMENTO] ([idPavimento])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idRegional])
REFERENCES [dbo].[dREGIONAL] ([idRegional])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idSeveridade])
REFERENCES [dbo].[dSEVERIDADE] ([idSeveridade])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idSinalizado])
REFERENCES [dbo].[dSINALIZADO] ([idSinalizado])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idSituacao])
REFERENCES [dbo].[dSITUACAO] ([idSituacao])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idSocorro])
REFERENCES [dbo].[dSOCORRO] ([idSocorro])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idTipoAcidente])
REFERENCES [dbo].[dTIPOACIDENTE] ([idTipoAcidente])
GO
ALTER TABLE [dbo].[FATO1]  WITH CHECK ADD FOREIGN KEY([idVelocidade])
REFERENCES [dbo].[dVELOCIDADE] ([idVelocidade])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idCintoSeguranca])
REFERENCES [dbo].[dCINTOSEGURANCA] ([idCintoSeguranca])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idClima])
REFERENCES [dbo].[dCLIMA] ([idClima])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idCondutor])
REFERENCES [dbo].[dCONDUTOR] ([idCondutor])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idEmbriaguez])
REFERENCES [dbo].[dEMBRIAGUEZ] ([idEmbriaguez])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idFatalidade])
REFERENCES [dbo].[dFATALIDADE] ([idFatalidade])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idHabilitacao])
REFERENCES [dbo].[dHABILITACAO] ([idHabilitacao])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idHoraInformada])
REFERENCES [dbo].[dHORAINFORMADA] ([idHoraInformada])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idOrigemBoletim])
REFERENCES [dbo].[dORIGEMBOLETIM] ([idOrigemBoletim])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idPassageiro])
REFERENCES [dbo].[dPASSAGEIRO] ([idPassageiro])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idPavimento])
REFERENCES [dbo].[dPAVIMENTO] ([idPavimento])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idPedestre])
REFERENCES [dbo].[dPEDESTRE] ([idPedestre])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idRegional])
REFERENCES [dbo].[dREGIONAL] ([idRegional])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idSeveridade])
REFERENCES [dbo].[dSEVERIDADE] ([idSeveridade])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idSexo])
REFERENCES [dbo].[dSEXO] ([idSexo])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idSinalizado])
REFERENCES [dbo].[dSINALIZADO] ([idSinalizado])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idTipoAcidente])
REFERENCES [dbo].[dTIPOACIDENTE] ([idTipoAcidente])
GO
ALTER TABLE [dbo].[FATO2]  WITH CHECK ADD FOREIGN KEY([idVelocidade])
REFERENCES [dbo].[dVELOCIDADE] ([idVelocidade])
GO
